@mixin buttonColor($className) {
  @if $className == "white" {
    &.#{$className} {
      border: 1px solid #b9b9b9;
      background: #fff;
      color: #000;
    }
  } @else if $className == "red" {
    &.#{$className} {
      background: #f84646;
      color: #fff;
    }
  }
}

@mixin buttonSize($size) {
  // min-width, height,padding ,font-size 가로,세로,여백,글씨 크기에 따라서 버튼 크기 좌지우지 가능
  @if $size == "sm" {
    &.#{$size} {
      height: 40px;
      padding: 0 20px;
      font-size: 14px;
      border-radius: 5px;
    }
  }
}
